/JFlavourAPI/nbproject/private/
/nbproject/private/
/JFlavourViewer/build/
/JFlavourAPI/build/
/build/
/JFlavourViewer/nbproject/private/
/JFlavourProjectManager/build/
/JFlavourProjectManager/nbproject/private/
/jdom/build/