/JFlavourAPI/nbproject/private/
/nbproject/private/
/JFlavourViewer/build/
/JFlavourAPI/build/
/build/
/JFlavourViewer/nbproject/private/
/JFlavourProjectManager/build/
/JFlavourProjectManager/nbproject/private/
/jdom/build/
/JFlavourItemEditor/build/
/JFlavourItemEditor/nbproject/private/
/JFlavourNodeProjectManager/build/
/JFlavourNodeProjectManager/nbproject/private/
/jflac-1.3-jdk/build/
/jogg/build/
/jflac-1.3-jdk/nbproject/private/
/jogg/nbproject/private/
/jflac-1.3/build/
/mp3spi/build/
/jflac-1.3/nbproject/private/
/mp3spi/nbproject/private/